{% extends 'base.html' %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Customer Dashboard</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet. Et quisquam odit eum aliquam
            perspiciatis ut nihil doloribus aut quam molestiae cum culpa similique. Ut similique maiores ut eius
            molestiae sed veniam quas cum ratione quasi cum sunt minus quo voluptatem illum qui accusamus omnis.</p>
        <button class="btn btn-primary" type="button">Example Button</button>
    </div>
</div>

{% endblock content %}